.three-image-container{
top:0px;
height:400px;
width:100%;
background-color:blue;
display:flex;
flex-direction: row;
}

.three-wash, .three-style, .three-accesories{
width:33.3333%;
height:100%;
background-color: yellow;
position: relative;
text-align: center;
}

.collec-title{
  position: absolute;
  top: 10%;
  left: 0%;
  letter-spacing: 3px;
  text-transform: uppercase;
  color:white;
  width:100%;
  font-size: 1.6rem;
  font-weight: 600;
  // background-color:blue;
}


@media screen and (max-width:1000px){
  .three-image-container{
    top:0px;
    height:500px;
    
    flex-direction: column;
    }

    .three-wash, .three-style, .three-accesories{
      width:100%;
      height:100%;
      
      position: relative;
      text-align: center;
      }

}
