.collection-preview {
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 480px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom:3%;
}

.image{
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
  padding: 4% 0px;
  cursor: pointer;
}

.image:hover{
  opacity:0.8;
}

.footer {
  width: 100%;
  height: 5%;
  display: flex;
  font-size: 18px;
 }

  .title {
  font-size: 18px;
  width: 80%;
  font-family: Canela Deck,serif;
  padding-left: 1px;
  }
  
  .price{
    font-size: 16px;
    letter-spacing: .1em;
    width: 20%;
    padding-left: 25px;
    padding-top:3px;
    color:#454545;
    font-family: linetocircularbold,sans-serif;
    justify-content: center;
  }

  @media screen and (max-width:1000px){
    .collection-preview {
      flex-flow: column wrap;
      width: 200px;
      height: 340px;
      justify-content: space-between;
      margin-bottom:0%;
    }

    .image{
      width: 100%;
      height: 70%;
      background-size: cover;
      background-position: center;
      padding: 4% 0px;
      cursor: pointer;
    }


    .footer {
      all:revert;
      width: 200px;
      font-size: 18px;
      text-align: center;
     }

     .price{
      
      padding-left: 5px;
     
    }

     #mobile-add-item{
      width:200px;
      height:45px;
      font-size:12px;
      margin-bottom:35px;
     }
 

  }