/* CAROUSEL ADDED */
.carouselContainer{
  position:relative;
}

.ContainerBackground{
  background-color: #E9FFAA;
  height:650px;
}


.ContainerInstagram{
  background-color: #E9FFAA;
  height:600px;
  text-transform: lowercase;
  text-align: center; 
}

.HeaderInstagram{
  padding-top:2%;
  font-size:3em;
  font-family: Canela Deck,serif;
  text-align: center;
}

.ContainerImages{
  margin-top:3%;
  height:500px;
  width:80%;
  margin-left: auto;
  margin-right: auto; 
 }

.InstaImages{
  width:200px;
  height:150px;
 
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s;
}

.InstaImages:hover{
  transform: scale(1.5);
  cursor:pointer; 
  
}

@media screen and (max-width:960px){


  .ContainerInstagram{
  padding-top:15%;
  }
  

  .HeaderInstagram{
    padding-top:0%;
    font-size:18px;
   
  }

}



