.ContainerBackground{
  background-color: #E9FFAA;
  height:650px;
}


.ContainerInstagram{
  background-color: #E9FFAA;
  height:600px;
  text-transform: lowercase;
  text-align: center; 
}

.HeaderInstagram{
  padding-top:2%;
  font-size:3em;
  font-family: Canela Deck,serif;
  text-align: center;
}


.ContainerImages{
  overflow:hidden;
  height:500px;
  width:80%;
  padding-top:1.5%;
  margin-left: auto;
  margin-right: auto; 
 }

.InstaImages{
  width:200px;
  height:150px;
  padding:1%;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s;
}

.InstaImages:hover{
  transform: scale(1.5);
  cursor:pointer; 
  
}

@media screen and (max-width:960px){


  .ContainerInstagram{
  padding-top:15%;
  }
  

  .HeaderInstagram{
    padding-top:0%;
    font-size:22px;
   
  }

  .ContainerImages{
    height:470px;
   }

}

















/* CAROUSEL ADDED */
/* .carousel.slide{
  position:relative;
  margin: auto;
  border: 1px solid blue;
}

.carousel-indicators{
  position:relative;
}

.carousel-control-prev{
  border: 1px solid red;
  
  position:absolute;
  width:10%;
  height:20%;
  top:5%;
  left:50px;
}

.carousel-control-prev-icon{
  background-color: red;
  width:100%;
  height:100%;

}

.carousel-control-next{
  border: 1px solid red;
  right:10%;
  position:absolute;
  width:10%;
  height:20%;
  top:20%;
}

.carousel-inner{
  border: 1px solid yellow;

}

.active{
  border: 1px solid purple;
} */