.Home-Ingredients-Container{
  width: 100%;
  height:600px;
  background-color:red;

 

}

.Home-Ingredients-Section{
  position:absolute;
  margin-top:10%;
  background-color:yellow;
  width: 80%;
  height:300px;

  left:10%;
}
