.NavbarItems{
  background:#fff;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:0.8rem;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom:1px solid #b5b5b5;
}

.navbar-logo{
  color:black;
  justify-self: start;
  margin-left:1px;
  cursor:pointer;
  text-decoration:none;
  /* Added to be more to the left */
  transform: translate(-83%,-6%) 
}

.navbar-name{
  color:black;
  cursor:pointer;
  text-decoration:none;
 
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-gap: 10px;
  list-style:none;
  text-align:center;
  width:70vw;
  justify-content: end;
  margin-right:2em;
}

.nav-links{
  color:black;
  text-decoration:none;
  padding: 0.5rem 1rem;
}

.nav-links:hover{
  background-color:#E9FFAA;
  border-radius:4px;
  transition: all 0.2s ease-out;
  
}

.fa-bars{
  color: grey;
}

.nav-links-mobile{
display:none;
}

.menu-icon{
  display:none;
}

.examples {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  width: 960px;
  background-color: white;
  opacity: 0.95;
  padding: 15px 30px;
  margin: 0 auto 30px;
  
  
  .example {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 45px;
    .hover {
      font-size: 36px;
      text-align: center;
      margin: 0 auto;
      padding: 0;
      transition: all 0.2s ease-in-out;
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0px;
        height: 5px;
        margin: 5px 0 0;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.75s;
        opacity: 0;
        background-color: darken(orange,5%);
      }
      &.hover-3 {
        &:before {
          left: 50%;
        }
        &:after {
          right: 50%;
        }
      }
      
    }
    &:hover {
      cursor: pointer;
      .hover {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
        &.hover-3{
          &:before,
          &:after {
            width: 50%;
          }
        }
      }
    }
  }
}



















/* Navbar appeareance for MOBILE */
@media screen and (max-width:960px){
  .NavbarItems{
    position: relative;
  }

  .nav-menu{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 280px;
    position:absolute;
    top:50px;
    left:-100%;
    opacity:1;
    transition: all 0.5s ease;
  }

  .nav-menu.active{
    background: white;
    left: 0;
    opacity:1;
    transition: all 0.5s ease;
    z-index:1;
  }

  .nav-links{
    text-align:center;
    padding: 1rem;
    width:100%;
    display: table;

  }

  .nav-links:hover{
    background-color:#E9FFAA;
    border-radius: 0;
  }

  .navbar-logo{
    position:absolute;
    top:0;
    left:0;
    transform: translate(224%,50%)
  }

  .menu-icon{
    display:block;
    position:absolute;
    top:0;
    right:0;
    transform: translate(25%,50%)
  }

  .menu-icon{
    display:block;
    position:absolute;
    top:0;
    right:0;
    transform:translate(-100%,60%);
    font-size: 1.2rem;
    cursor:pointer; 
  }

  .fa-times{
    color:grey;
    font-size:1.4rem;
  }



  .nav-links-mobile{
    display: block;
    text-align: center;
    padding:0.5rem;
    margin: 0.5rem auto;
    border-radius: 4px;
    width:20%;
    background:white;
    text-decoration:none;
    color: black;
    font-size:1rem;
  }

  .nav-links-mobile:hover{
    background:#cf3;
    color:black;
    transition:250ms;
  }

  Button{
    display:none;
  }
}