.NavbarItems{
  width: 100%;
  height: 100px;
  position: fixed;
  display:flex;
  flex-direction: column;
  background:#fff;
  justify-content: center;
  align-items: column;
  font-size:0.7rem;
  font-weight:bold;
  top: 0;
  border-bottom:1px solid #b5b5b5;
  z-index:5;
}

.logo{
  order:1;
  width: 30%;
  height:30px;
  padding-top:5px;
  margin:auto;
  cursor:pointer;
  text-decoration:none;
  color:black;
  font-size:1.6rem;
  text-align: center;
  display:inline;
  font-family: Montserrat;
  letter-spacing: 5px;
}

.search-user-cart-icons{
  // background-color: aqua;
  width:120px; 
  height:40px;
  top: 6%;
  right:1%; 
  bottom: 0;
  position:absolute;
  display:flex;
  align-items: row;
}

.nav-menu{
  order:2;
  height:30px;
  display: flex;
  list-style:none;
  background-color: #62BCD7;
  // grid-template-columns: repeat(5,auto);
  // grid-gap: 10px;
  // text-align:center;
  width:80%;
  // justify-content: center;
  // background-color: #E9FFAA;
  margin:auto;
}

.nav-boxes{
  margin:auto;
  
}

.nav-links{
  color:black;
  text-decoration:none;
  text-align: center;
  // padding: 0rem 1rem;
 
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Montserrat;
  // background-color: pink;
}

.nav-links:hover{
  background-color:#62D7D5;
  border-radius:4px;
  transition: all 0.2s ease-out;
}

.nav-links-mobile{
display:none;
}

.menu-icon{
  display:none;
}

.fa-bars{
  color: grey;
}

/* Navbar appeareance for MOBILE */
@media screen and (max-width:1000px){

  .NavbarItems{  
    height: 50px;
  }
  
  .logo{
  letter-spacing: 1px;
    font-size:1rem;
    font-size:1rem;
  }

.menu-icon{
  display:block;
  position:absolute;
  top: 20%;
  left: 3%;
  font-size: 1.2rem;
  cursor:pointer; 
}
 
  .nav-menu{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 280px;
    position:absolute;
    top:50px;
    left:-100%;
    opacity:1;
    transition: all 0.3s ease;
    
  }

  .nav-menu.active{
    background: white;
    position:absolute;
    left: 0;
    opacity:1;
    transition: all 0.3s ease;
    top:50px;
    height:100vh; 
  }

  .nav-boxes{
    top:1px;
    height: 42px;
    width:100%;
    border-bottom:1px solid #b5b5b5;  
  }

  .nav-links{
    text-align:center;
    padding: 1rem;
    width:100%;
    display: table;
    height: 10px;
    
  }

  .nav-links:hover{
    background-color:#62BCD7;
    border-radius: 0;
  }

  .fa-times{
    color:grey;
    font-size:1.4rem;
  }

  .nav-links-mobile{
    display: block;
    text-align: center;
    padding:0.5rem;
    margin: 0.5rem auto;
    border-radius: 4px;
    width:20%;
    background:white;
    text-decoration:none;
    color: black;
    font-size:1rem;
  }

  .nav-links-mobile:hover{
    background:#cf3;
    color:black;
    transition:250ms;
  }

  Button{
    display:none;
  }


}



@media screen and (min-width:1400px){

  .nav-menu{
    
    width:80vw;
    display:flex;
    justify-content: center;
    
  }

  .nav-links{
    letter-spacing: 5px;
  }
} 






















// .examples {
//   display: flex;
//   flex-flow: column;
//   max-width: 100%;
//   width: 960px;
//   background-color: white;
//   opacity: 0.95;
//   padding: 15px 30px;
//   margin: 0 auto 30px;
  
  
//   .example {
//     display: flex;
//     flex-flow: row nowrap;
//     align-items: center;
//     margin: 0 0 45px;
//     .hover {
//       font-size: 36px;
//       text-align: center;
//       margin: 0 auto;
//       padding: 0;
//       transition: all 0.2s ease-in-out;
//       position: relative;
//       &:before,
//       &:after {
//         content: "";
//         position: absolute;
//         bottom: -10px;
//         width: 0px;
//         height: 5px;
//         margin: 5px 0 0;
//         transition: all 0.2s ease-in-out;
//         transition-duration: 0.75s;
//         opacity: 0;
//         background-color: darken(orange,5%);
//       }
//       &.hover-3 {
//         &:before {
//           left: 50%;
//         }
//         &:after {
//           right: 50%;
//         }
//       }
      
//     }
//     &:hover {
//       cursor: pointer;
//       .hover {
//         &:before,
//         &:after {
//           width: 100%;
//           opacity: 1;
//         }
//         &.hover-3{
//           &:before,
//           &:after {
//             width: 50%;
//           }
//         }
//       }
//     }
//   }
// }





// {/* <h1 className="navbar-logo"><a className="navbar-name " href="/">Ingrávida</a></h1> */}


// .navbar-logo{
//   color:#000000;
//   justify-self: start;
//   margin-left:1px;
//   cursor:pointer;
//   text-decoration:none;
//    transform: translate(-83%,-6%) 
// }


// .navbar-name{
//   color:black;
//   cursor:pointer;
//   text-decoration:none;
// }



//mobile

// .navbar-logo{
//   position:absolute;
//   top:0;
//   left:0;
//   // transform: translate(224%,50%)
// }