.ContainerFooter{
height:120px;

}

.social-container{
  margin:auto;
  padding:50px 30px;
  width:30%;
  height:100%;
  text-align:center;
  
}

.social-media-icon{
  font-size:30px;
}

a.social{
  margin: 0 1rem;
  transition:transform 250ms;
  display:inline-block;
}

a.social:hover{
  transform:translateY(-6px)
}

a.youtube{
  color:red;
}

a.facebook{
  color:#4968ad;
}

a.twitter{
  color:#49a1eb;
}

a.instagram{
  color:black;
}


@media screen and (max-width:960px){

  .ContainerFooter{
    height:100px;
    }

  .social-container{
    width:100%;
    padding:35px 20px;
  }
  
  .social-media-icon{
    font-size:25px;
  }

  a.social{
    margin: 0 0.5rem;
   
  }


}