.sign-in{
  width:30vw;
  display:flex;
  flex-direction:column;
  
  .title{
    margin:10px 0;
    
  }


  .buttons{
    display:flex;
    justify-content:space-between;
   
  }

  .google-button{
    margin-top:15px;
    text-align: center;
  }

  .google-style{
    font-size:20px;
    cursor:pointer;
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  }
}

@media screen and (max-width:1000px){
  .sign-in{
    background-color: #E9FFAA;
    height:400px;
    width:100%;
    text-align:center;
  }

  #log-in-button{
    background-color: white;
    width:40%;
    height:45px;
    margin:auto;
    font-size:12px;
    border:1px solid black;
  }

  #email-styles, #password-styles{
    border:1px solid black;
  }

  .have-account{
    margin-top:15px;
    font-size:18px;
    text-align:center;
  }
 

}