.Container{
width: 100%;
height:600px;
top:50px;
position:relative;
background-color: #f7f7f7;
}

.Section{
  top:5%;
  left:5%;
  width:90%;
  height:75%;
  position: absolute;
  display:flex;
  flex-direction: column;
 
}

.Header{
margin-top:1%;
font-weight:bold;
font-size:2.8em;
font-family: Canela Deck,serif;
text-transform: lowercase;
text-align: center;
height:15%
}

.IngredientsBox{
  width:100%;
  height:70%;
  display: flex;
  justify-content: center;
}

.IngredientsDisplay{
  width:80%;
  height:100%;
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
}

.Elements{
  height:20%;
  width:40%;
  padding-top:2%;
  font-size:18px;
  font-family: NB International,News Gothic MT,Helvetica,Arial,"sans-serif";
}

.ButtonContainer{
  width:100%;
  height:20%;
  display: flex;
  justify-content: center;
}

.Button{
  text-decoration: none;
  color:black;
  background-color:white;
  text-align: center;
  font-family: Canela Deck,serif;
  border: 1px solid black; 
  font-weight:bold;
  height:40%;
  font-family: NB International,News Gothic MT,Helvetica,Arial,"sans-serif";
  width:10%;
  padding:0.5% 0px;
}

.Button:hover{
  color:black;
  background-color: #E9FFAA;
}

@media screen and (max-width:1000px){
  
  .Container{
    height:650px;
    width:100%;
    position: relative;
    top:1px;
    
    }

    .Section{
      top:10%;
      left:0%;
      width:100%;
      height:80%;
    }

    .Header{
      padding-top:5%;
      font-size:1.8em;
      }

      .IngredientsBox{
        width:100%;
        height:80%;
      }

      .IngredientsDisplay{
        flex-direction: column; 
        justify-content: flex-start;
        height:80%;
      }

      .Elements{
        width:100%;
        font-size:16px;
        text-align:center;
        height:30px;
        padding:0%;
        margin:3% 0%;
      }

      .Button{
        font-size:1.1em;
        border: 1px solid black; 
        height:40px;
        font-weight:550;
        margin-top:0%;
        padding:2% 0px;
        margin-left:1%;
        width:90%;
        font-weight: bold;
        cursor: pointer;
        z-index: 1;
      }
}


@media screen and (min-width:1400px){

  

  .Section {
    top:6%;
   left:14.2%;
    width:71.8%;
    
  }
} 