:root {
  /* Palette */
  --one-color: #58F3F3;
  --two-color: #4DD5D5;
  --three-color: #42B6B6;
  --four-dark-color: #379898;
  --five-color: #2C7979;
  --red-color: #215B5B;
  --yellow-color: #163D3D;
 

}






.Home-Intro-Container {
  height:400px;
  width:100%;
  background-color: #fff;
  /* z-index: 1; */
  position: relative;
  
  top:100px;
  background-color:#62BCD7;
}

.Home-Intro-Image {
  object-fit: cover;
 width: 100%;
  max-height:10%; 
  z-index: 2;
}



 /* MOBILE */
 /* Activates when resolution is smaller than 960px */
@media screen and (max-width:1000px){

  .Home-Intro-Container {
    top:0px;
   
  }

  .white-bar-intro{
    height: 100px;
      box-shadow: 1px 1px #d9d9d9;
  }

}

 /* BIG SCREEN */
 /* Activates when resolution is bigger than 1200px */
 @media screen and (min-width:1400px){

  .Home-Intro-Container {
    height:400px;
    width:100%;
    background-color: #fff;
    /* z-index: 1; */
    position: relative;
    
    top:200px;
    background-color:#62BCD7;
  }
} 