:root {
  /* Palette */
  --one-color: #58F3F3;
  --two-color: #4DD5D5;
  --three-color: #42B6B6;
  --four-dark-color: #379898;
  --five-color: #2C7979;
  --red-color: #215B5B;
  --yellow-color: #163D3D;
}

.home-intro-container {
  padding-top:100px;
  height:600px;
  width:100vw;
 
  z-index: 0;
  /* position: relative; */
  background-color:#62BCD7;
  display:flex;
  flex-direction: column;
}

.home-intro-image {
  object-fit: cover;
 width: 100%;
 height: 100%;
}

.lema-container{
  top:70px;
  width:80vw;
  height:200px;
  position: absolute;
  bottom:0;left:0; right:0;
  margin:auto;
  text-align: center;
  display:flex;
  flex-direction: column;
 
} 

.lema-text{
  font-size: 40px;
  letter-spacing: 5px;
  font-family: Montserrat;
  text-transform: uppercase;
  color:white;
  font-weight: 900;
}

.abcButton{
  text-decoration: none;
  color:black;
  background-color:white;
  font-family: Monserrat;
  text-transform: uppercase;
  border: 1px solid black;
  width:200px;
  height:50px;
  margin:auto;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  font-size:1.2em
}

.abcButton:hover{
  color:black;
  background-color: #62D7D5;
}

 /* MOBILE */
 /* Activates when resolution is smaller than 960px */
@media screen and (max-width:1000px){

  .home-intro-container {
    top:0px;
    height:500px;
  }

  .lema-container{
    position:absolute;
    max-width:100%;
    top:0%;
    left:0%;
    max-height:100%;
  }

  .lema-text{
    font-size: 30px;
    color:black;
  }

  .abcButton{
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  }
}

 /* BIG SCREEN */
 /* Activates when resolution is bigger than 1200px */
 @media screen and (min-width:1400px){

  .home-intro-container {
    height:900px;
    width:100%;
    background-color: #fff;
    position: relative;
    top:100px;
    background-color:#62BCD7;
  }
  
  .lema-container{
    top:10%;
  } 
} 