.home-intro-section-container{
  top:0;
  width:80vw;
  height:30vh;
  position: absolute;
  bottom:0;left:0; right:0;
  margin:auto;
  text-align: center;
  display:flex;
  flex-direction: column;
} 

.home-intro-section-text{
  font-size: 60px;
  font-family: Canela Deck,serif;
  /* color:#58F3F3; */
  color:black;
  font-weight: 900;
}

.home-intro-section-logo{
  padding-top:30px;
  color:white;
  font-size: 19px;
  font-weight: 800;
}

.Home-Intro-Button-Container{
  padding-top:50px;
  height:20%;
  color:white;
  transition: transform .2s;
}

.Home-Intro-Button-Container:hover{
  transform: scale(1.1);
}

.abcButton{
  height:50px;
  text-decoration: none;
  color:black;
  background-color:white;
  text-align: center;
  font-family: Canela Deck,serif;
  font-size:1.1em;
  border: 1px solid black; 
  font-weight:bold;
  margin-top:3%;
  padding:1% 0px;
  margin-left:40%;
  width:15%;
  font-family: NB International,News Gothic MT,Helvetica,Arial,"sans-serif";
  font-weight:540;
  cursor: pointer;
}

.abcButton:hover{
  color:black;
  background-color: #62D7D5;
}

/* Mobile */
@media screen and (max-width:1000px){

  .home-intro-section-container{
    position:absolute;
    max-width:100%;
    top:0%;
    left:0%;
    /* height:150px; */
    max-height:100%;
  }

  .home-intro-section-text{
    font-size: 30px;
    color:black;
  }

  .home-intro-section-logo{
    padding-top:10px;
    color:black;
    font-size: 16px;
  }

  .Home-Intro-Button-Container{
    all:none;
    position: relative;
    color:black;
    margin-bottom:1%;
    padding-top:1px; 
    font-size: 15px;
    border:1px solid black;
    border-radius: solid 80px;
    width:70vw;
    left:10%;
    text-align:center;
  }

  .Home-Intro-Button-Container:hover{
    all:none; 
    background-color: #E9FFAA;
  }

  .abcButton{
  padding:1.5% 0px;
  height:40px;
  font-size:1.1em;
  border: 1px solid black; 
  font-weight:550;
  margin-top:5%;
  margin-left:5%;
  width:90%;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  }
  
}

  /* B I G   S C R E E N !!! */
 @media screen and (min-width:1400px){

  .home-intro-section-container{
    top:10%;
    /* position: absolute;
    text-align:center;
     top:20%;
    left:25%; 
    height:40%; */
  } 
} 