.Home-Intro-Section-Container{
  position: absolute;
  text-align:center;
  max-width:80%;
  top:20%;
  left:15%; 
  height:40%;
  display:flex;
  flex-direction: column;
  text-align: center;
} 

.Home-Intro-Section-Text{
  font-size: 60px;
  font-family: Canela Deck,serif;
  color:#cf3;
  font-weight: 900;
}

.Home-Intro-Section-Logo{
  padding-top:30px;
  color:white;
  font-size: 19px;
  font-weight: 800;
}

.Home-Intro-Button-Container{
  padding-top:50px;
  height:20%;
  color:white;
  transition: transform .2s;
}

.Home-Intro-Button-Container:hover{
  transform: scale(1.1);
}

.abcButton{
  /* position:relative;
  top:30%;
  width:70%;
  text-decoration: none;
  color:black;
  background-color:white;
  padding: 10px 24px;
  border: 1px solid black;
  font-weight: bold;
  font-family: NB International,News Gothic MT,Helvetica,Arial,"sans-serif"; */

  height:50px;
  text-decoration: none;
  color:black;
  background-color:white;
  text-align: center;
  font-family: Canela Deck,serif;
  font-size:1.1em;
  border: 1px solid black; 
  font-weight:bold;
  margin-top:3%;
  padding:1% 0px;
  margin-left:40%;
  width:15%;
  font-family: NB International,News Gothic MT,Helvetica,Arial,"sans-serif";
  font-weight:540;
  cursor: pointer;
}

.abcButton:hover{
  color:black;
  background-color: #E9FFAA;
}

/* Mobile */
@media screen and (max-width:960px){

  .Home-Intro-Section-Container{
    position:relative;
    max-width:100%;
    top:0%;
    left:0%;
    height:150px;
  }

  .Home-Intro-Section-Text{
    font-size: 30px;
    color:black;
  }

  .Home-Intro-Section-Logo{
    padding-top:10px;
    color:black;
    font-size: 16px;
  }

  .Home-Intro-Button-Container{
    all:none;
    position: relative;
    color:black;
    margin-bottom:1%;
    padding-top:1px; 
    font-size: 15px;
    border:1px solid black;
    border-radius: solid 80px;
    width:70vw;
    left:10%;
    text-align:center;
  }

  .Home-Intro-Button-Container:hover{
    all:none; 
    background-color: #E9FFAA;
  }

  .abcButton{
  padding:1.5% 0px;
  height:40px;
  font-size:1.1em;
  border: 1px solid black; 
  font-weight:550;
  margin-top:5%;
  margin-left:5%;
  width:90%;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  }
  
}

  /* B I G   S C R E E N !!! */
 @media screen and (min-width:1400px){

  .Home-Intro-Section-Container{
    position: absolute;
    text-align:center;
     top:20%;
    left:25%; 
    height:40%;
  } 
} 